body {
  background: url("https://images.unsplash.com/photo-1442551382982-e59a4efb3c86?crop=entropy&dpr=2&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1400");
  background-size: cover;
}
.win .game{display:none;}
.win .wonText{display:block;}
.wonText{display:none;}
.wonText h2{width:300px;margin:30px auto;}
li{color:white;padding-left:10px;font-size:16px;}
/* NAVIGATION MENU */
.navbar {
  background: #433C31;
  width: 100%;
  height: 60px;
}

#correct {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: 1000;
    padding-top: 200px;
    text-align: center;
    font-size: 75px;
    color: white;
    transition: all .2s ease;
    display: none;
}

.navbar ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.navbar li {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding: 7px 15px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  /* margin-right: 3em; */
  cursor: pointer;

}

.logo {
  font-size: 2em;
   /* to be added */
  font-weight: bolder;
  margin: 5px 0 0 0;
}

/* CONTENT CONTAINER */
h1 {
  font-size: 2.4em;
  text-align: center;
  color: #000;
  font-weight: 300; /* lookign for styling more */
}
#stats{
  text-align:center;
  margin:15px auto;
  padding: 10px 10px;
  background-color:rgba(255,255,255,.8);
  border-radius:50px;
  width: 200px;
}
#stats p{margin:0;}
.state {
  max-width: 400px;
  margin-bottom: 80px;
  margin-top: 50px;
}
.stamp{
  width:250px;
  margin-right:10px;
}
#stampImageHolder{
  text-align:center;
}
.mybtn {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.mybtn a {
  text-decoration: none;
}
